[package]
name = "variables"
version.workspace = true
edition.workspace = true
authors.workspace = true
homepage.workspace = true
repository.workspace = true
documentation.workspace = true
readme.workspace = true
license.workspace = true

[dependencies]
parser = {path = "../parser"}
my_string = { path = "../my_string"}
ast = {path = "../ast"}

[dev-dependencies]
insta.workspace = true
