name: Build
on:
  pull_request:
  push:
    branches:
      - main
  merge_group:

env:
  MSRV: "1.91.1"

jobs:
  check:
    name: Check (msrv)
    runs-on: ubuntu-latest
    if: github.repository == 'emilycares/java_lsp'
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5

      - name: Install MSRV toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ env.MSRV }}

      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "build"

      - name: Run cargo check
        run: cargo check

  test:
    name: Test Suite
    runs-on: ${{ matrix.os }}
    if: github.repository == 'emilycares/java_lsp'
    env:
      RUST_BACKTRACE: 1
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5

      - name: Install MSRV toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ env.MSRV }}

      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "build"

      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Run cargo test
        run: cargo test --workspace

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest, ubuntu-24.04-arm]

  lints:
    name: Lints
    runs-on: ubuntu-latest
    if: github.repository == 'emilycares/java_lsp'
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5

      - name: Install MSRV toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ env.MSRV }}
          components: rustfmt, clippy

      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "build"

      - name: Run cargo fmt
        run: cargo fmt --all --check

      - name: Run cargo clippy
        run: cargo clippy --workspace

      - name: Run cargo doc
        run: cargo doc --no-deps --workspace
        env:
          RUSTDOCFLAGS: -D warnings
